.categories{
    width: 31%;
    aspect-ratio: 16/9;
    background-image: url(../../assets/poster.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    cursor: pointer;

    .content{
        height: 100%;
        background-color: rgba(0,0,0,0.4);
        transition: 0.2s ease;

        .heading{
            color: white;
        }

        &:hover{
            background-color: rgba(0,0,0,0.5);
        }
    }
}

@media screen and (max-width: 768px) {
    .categories {
        width: 48%;
    }
    
}

@media screen and (max-width: 480px) {
    .categories {
        width: 100%;
    }
    
}